@model ProductManagement.App.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Product Management</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Choose the action you want to perform</h2>
        <ul>
            <li>@Html.ActionLink("List Categories", "Index", "Category")</li>
            <li>@Html.ActionLink("Create New Category", "Create", "Category")</li>
            <li>@Html.ActionLink("List Products", "Index", "Product")</li>
            <li>@Html.ActionLink("Create New Product", "Create", "Product")</li>
        </ul>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <h4>Storage Types</h4>
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.StorageType
                , nameof(ProductManagement.Core.Enumerations.EStorageType.Database)) Database
                @Html.RadioButtonFor(model => model.StorageType
                , nameof(ProductManagement.Core.Enumerations.EStorageType.Memory)) Memory
                <input type="submit" value="Set Storage Type" class="btn btn-default" />
            </div>
        </div>
        @Html.DisplayTextFor(model => model.Message)
    </div>
}
